body {
  background-color: #666699;
  color: #191919;
}
div {
  padding: 5px 0;
}
span {
  display: block;
}
table {
  margin-top: 10px;
  border: 1px solid;
}
th {
  background-color: gray;
}
a:hover {
  background-color: #CCCCFF;
}
#bottom {
  text-align: center;
  font-size: 20px;
}
.left,
.right {
  float: left;
  width: 49%;
}
.section {
  box-shadow: 0px 2px 13px 5px rgba(0, 0, 0, 0.75);
  width: 95%;
  margin: 20px auto;
  padding: 20px 20px;
  background-color: #ccc;
  clear: both;
}
.html {
  margin: 0 0 0 20px;
}
.html-start {
  height: 400px;
}
.head,
.body {
  margin: 0 0 0 20px;
}
.meta,
.style-tag {
  margin: 0 0 0 30px;
}
.left {
  margin: 20px 0;
  padding: 0 0 0 10px;
}
.html,
.styling {
  background-color: #A6A6A6;
}
.main-title {
  text-transform: uppercase;
  text-align: center;
  color: #420085;
}
.title {
  color: #3D3D5C;
  text-align: center;
}
.tags {
  font-weight: 700;
  font-size: 18px;
}
.text,
.example {
  margin: 0 20px;
}
.description {
  padding: 10px 0;
  font-size: 18px;
}
.internal-style {
  padding: 0 20px;
}
.css-styling p {
  color: red;
  font-family: courier;
  font-size: 24px;
}
.css-styling ul p {
  color: #000;
  font-size: 20px;
}
.css-styling ul li {
  list-style: none;
}
#example-id {
  color: blue;
  text-transform: uppercase;
}
.example-class {
  color: pink;
  background-color: #3D3D5C;
  margin: 5px 0;
}
.no-margin {
  border: 1px solid red;
}
.margin {
  border: 1px solid blue;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 10px;
  margin-left: 10px;
}
.margin-short {
  border: 1px solid green;
  margin: 50px 10px;
}
.no-padding {
  border: 1px solid red;
}
.padding {
  border: 1px solid blue;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 10px;
  padding-left: 10px;
}
.padding-short {
  border: 1px solid green;
  padding: 50px 10px;
}
.css-colors span {
  display: inline-block;
}
.css-colors .hex {
  background: #ff0000;
}
.css-colors .rgb {
  background: #ff0000;
}
.css-colors .rgba {
  background: rgba(255, 0, 0, 0.5);
}
.css-colors .hsl {
  background: #ff0000;
}
.css-colors .hsla {
  background: rgba(255, 0, 0, 0.5);
}
.css-colors .color-name {
  background: red;
}
